@import '../../../styles/styleguide';

section.card-list {
  padding-top: 6rem;

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .2rem;

    li {
      display: block;
      margin: 0 .5em 2em .5em;
      background-color: rgba($black, .5);
      box-shadow: 0 0 20px 1px rgba($black, .6);
      border: 1px solid hsla(46, 28%, 59%, .7);
      border-radius: 15px;
      transition: box-shadow .6s ease;
    }
  }
}
