section.card-list {

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;

    li {
      display: block;
      margin: 0 0.5em 2em 0.5em;
    }
  }
}
