@import '../../../styles/styleguide';

.fixed-content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

header {
  font-family: $garamond-font;
  box-shadow: 0 0 10px rgba($black,.6);
  background-color: rgba($black,.8);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: .2rem 1rem;
  height: 5rem;
}