@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$primary-font: 'Roboto', sans-serif;

.screen-reader-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.skip-link {
  left: -100%;
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  color: #000
}

.skip-link:focus {
  left: 50%
}