/* ** Font Definitions ** */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

$primary-font: 'Roboto', sans-serif;
$garamond-font: 'EB Garamond', serif;

/* ** Standardized COlor Definitions ** */
$white: #FFFFFF;
$black: #000000;
$gold-dark: #D9A73D;
$gold-light: #C5AC59;
$charcoal-light: #636B6F;
$charcoal: #574F49;
$light-khaki: #B4A679B3;
$dark-khaki: #242424;
$high-contrast-offwhite: #F0F0F0;

/* ** Media Breakpoints Definitions ** */
$MEDIUM_BREAKPOINT: 600;
$LARGE_BREAKPOINT: 850;

$media-query-medium: 'only screen and (min-width: #{$MEDIUM_BREAKPOINT}px)';
$media-query-large: 'only screen and (min-width: #{$LARGE_BREAKPOINT}px)';

/* ** Accessibility Definitions ** */

.screen-reader-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

/* ** Standardized Styling of UI Components ** */
button.cta, a.cta, .cta {
  color: $white;
  margin: 0.5rem auto;
  font-size: 1rem;
  padding: 2px;
  display: block;
  border: 1px solid $gold-light;
  border-top: 2px solid $gold-light;
  border-bottom: 1px solid $charcoal;
  background-color: rgba($black, .5);
  box-shadow: 0 0 3px rgba($black, .6);
  letter-spacing: .4rem;
  cursor: pointer;

  span, div {
    border: 1px solid rgba($light-khaki, .7);
    padding: .1rem .8rem;
    display: block;
  }

  &:hover, &:focus {
    span, div {
      transition: all .3s ease;
      background-color: $gold-dark;
      color: $black;
    }
  }
}

h1,h2,h3 {
  font-family: $garamond-font;
  color: $gold-dark;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media #{$media-query-medium} {
    font-size: 2.6rem;
  }
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.5rem
}