@import "../../../styles/styleguide";

.card {
  color: #FFF;
  padding: 2px;
  max-width: 410px;
  width: 100%;
  min-width: 300px;
  min-height: 600px;
  font-family: $garamond-font;
  font-size: 1.2rem;


  img {
    max-height: 500px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  dl {
    margin: 1em 2em;

    display: grid;
    grid-template-columns:  1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 6px;

    dt {
      grid-column: 1 / 2;
    }

    dd {
      grid-column: 2 / 3;
      margin: 0;
    }
  }
}