@import "../../../styles/styleguide";

$MAX_VALUES:(
  cost: 20,
  power: 12,
  health: 12
);

.card {
  color: #FFF;
  padding: 2px;
  width: 100%;
  min-height: 100%;
  font-family: $garamond-font;
  font-size: .9rem;
  padding-bottom: 3.5rem;
  position: relative;

  img {
    max-height: 500px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  .card-flip-outer {
    background-color: transparent;
    min-height: 500px;
    perspective: 1000px;
  }

  .card-flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: transparent;
  }

  .card-back {
    transform: rotateY(180deg);

    dl {
      font-size: 1.1rem;
      margin-left: 1.3rem;
      grid-column-gap: 15px;
      grid-row-gap: 20px;

      .maximum {
        font-size: .9rem;
        padding-left: .9rem;
      }
    }
  }

  dl {
    margin: 1em 2em;

    display: grid;
    grid-template-columns:  1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    text-align: left;

    dt {
      grid-column: 1 / 2;
      font-weight: bold;
      white-space: nowrap;
    }

    dd {
      grid-column: 2 / 3;
      margin: 0;
    }
  }

  .graph {
    height: .7rem;
    background-color: $orange;
    transform-origin: left;
    width: 0;

    &.cost {
      background: rgb(9,152,0);
      background: linear-gradient(180deg, rgba(36,36,36,1) 0%, rgba(28,92,24,1) 12%, rgba(20,89,16,1) 35%, rgba(9,152,0,1) 67%, rgba(0,255,0,1) 95%, rgba(36,36,36,1) 100%);
    }

    &.power {
      background: $orange;
      background: linear-gradient(180deg, rgba(36,36,36,1) 0%, rgba(123,21,9,1) 4%, rgba(132,54,24,1) 29%, rgba(156,82,34,1) 48%, rgba($orange,1) 72%, rgba(255,201,42,1) 98%, rgba(0,0,0,1) 100%);
    }

    &.health {
      background: rgb(131,157,183);
      background: linear-gradient(180deg, rgba(36,36,36,1) 0%, rgba(39,44,66,1) 4%, rgba(52,62,98,1) 20%, rgba(75,95,155,1) 45%, rgba(131,157,183,1) 70%, rgba(131,157,183,1) 98%, rgba(0,0,0,1) 100%);
    }
  }


  button.cta {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: .8rem;
    display: flex;
    align-content: center;

    div, span {
      padding-top: .3rem;
      padding-bottom: .3rem;
    }
  }


  .card-flip-outer:hover, &.flipped {
    .card-flip-inner {
      transform: rotateY(180deg);
    }

    @each $type, $maxval in $MAX_VALUES {
      @for $i from 0 through $maxval {
        $graphSize: round(100 * $i / $maxval);
        .graph.#{$type}[data-graph-size="#{$graphSize}"] {
          width: percentage($graphSize / 100);
          transition: width .6s ease-out .5s;
        }
      }
    }
  }

}