@import 'styles/_styleguide';
@import 'styles/_background-image';

/* ** HTML Resetting ** */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: $white;
  background-image: url($background-image);
  background-position: top;
  background-repeat: repeat-x;
  background-color: $black;
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
