@import 'styles/_styleguide';

body {
  color: $white;
  background: url('https://legends.bethesda.net/img/rock_bg.jpg') no-repeat top;
  background-repeat: repeat-x;
  background-color: $black;
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: $primary-font;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
