@import '../../../styles/styleguide';

.filter-container {
  position: absolute;
  background-color: rgba($khaki-dark, .9);
  padding: .2rem .7rem;
  max-height: calc(100vh - 5rem);
  overflow: auto;
  transform: translateX(-100%);
  visibility: hidden;
  transition:
    transform 0.5s ease-out,
    visibility 0s 0.5s;

  &.active {
    visibility: visible;
    transform: translateX(0%);
    transition:
      visibility 0s,
      transform 0.5s ease-out 0.1s;
  }

  form {

    div + div {
      margin-top: 1.2rem;
    }

    div.filter-error {
      color: $orange;
      margin-top: 0.1rem;
    }

    label {
      display: block;
      font-weight: bold;
      font-size: 1rem;
      font-family: $garamond-font;
    }

    input, select {
      font-family: $primary-font;
      background-color: $high-contrast-offwhite;
      border: 1px solid $gold-dark;
      color: $charcoal;
      width: 100%;
    }

    input {
      font-size: 0.8rem;
      padding: .1rem;
    }

    input[type='checkbox'] {
      height: 20px;
      width: 20px;
    }

    select {
      font-size: 0.7rem;
    }

    .checkbox-line {
      display: flex;

      label {
        margin-left: .2rem;
      }
    }

  }
}